---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "STAPI"
host: "stapi.co"
basePath: "/api/v1/rest"
schemes:
- "http"
produces:
- "application/json"
paths:
  /animal:
    get:
      tags:
      - "Animal"
      description: "Retrival of a single animal"
      parameters:
      - name: "uid"
        in: "query"
        description: "Animal unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/AnimalFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /animal/search:
    get:
      tags:
      - "Animal"
      description: "Pagination over animals"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/AnimalBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Animal"
      description: "Searching animals"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Animal name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "earthAnimal"
        in: "formData"
        description: "Whether it should be an earth animal"
        required: false
        type: "boolean"
        x-exportParamName: "EarthAnimal"
        x-optionalDataType: "Bool"
      - name: "earthInsect"
        in: "formData"
        description: "Whether it should be an earth insect"
        required: false
        type: "boolean"
        x-exportParamName: "EarthInsect"
        x-optionalDataType: "Bool"
      - name: "avian"
        in: "formData"
        description: "Whether it should be an avian"
        required: false
        type: "boolean"
        x-exportParamName: "Avian"
        x-optionalDataType: "Bool"
      - name: "canine"
        in: "formData"
        description: "Whether it should be a canine"
        required: false
        type: "boolean"
        x-exportParamName: "Canine"
        x-optionalDataType: "Bool"
      - name: "feline"
        in: "formData"
        description: "Whether it should be a feline"
        required: false
        type: "boolean"
        x-exportParamName: "Feline"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/AnimalBaseResponse"
  /astronomicalObject:
    get:
      tags:
      - "AstronomicalObject"
      description: "Retrival of a single astronomical object"
      parameters:
      - name: "uid"
        in: "query"
        description: "Astronomical object's unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/AstronomicalObjectFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /astronomicalObject/search:
    get:
      tags:
      - "AstronomicalObject"
      description: "Pagination over astronomical objects"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/AstronomicalObjectBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "AstronomicalObject"
      description: "Searching astronomical objects"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Astronomical object name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "astronomicalObjectType"
        in: "formData"
        description: "Type of astronomical object"
        required: false
        type: "string"
        x-exportParamName: "AstronomicalObjectType"
        x-optionalDataType: "String"
      - name: "locationUid"
        in: "formData"
        description: "Unique ID of astronomical object containing objects being searched"
        required: false
        type: "string"
        x-exportParamName: "LocationUid"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/AstronomicalObjectBaseResponse"
  /book:
    get:
      tags:
      - "Book"
      description: "Retrival of a single book"
      parameters:
      - name: "uid"
        in: "query"
        description: "Book unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /book/search:
    get:
      tags:
      - "Book"
      description: "Pagination over books"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Book"
      description: "Searching books"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Book title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the book was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the book was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of book story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Ending stardate of book story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of book story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of book story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "novel"
        in: "formData"
        description: "Whether it should be a novel"
        required: false
        type: "boolean"
        x-exportParamName: "Novel"
        x-optionalDataType: "Bool"
      - name: "referenceBook"
        in: "formData"
        description: "Whether it should be a reference book"
        required: false
        type: "boolean"
        x-exportParamName: "ReferenceBook"
        x-optionalDataType: "Bool"
      - name: "biographyBook"
        in: "formData"
        description: "Whether it should be a biography book"
        required: false
        type: "boolean"
        x-exportParamName: "BiographyBook"
        x-optionalDataType: "Bool"
      - name: "rolePlayingBook"
        in: "formData"
        description: "Whether it should be a role playing book"
        required: false
        type: "boolean"
        x-exportParamName: "RolePlayingBook"
        x-optionalDataType: "Bool"
      - name: "eBook"
        in: "formData"
        description: "Whether it should be an e-book"
        required: false
        type: "boolean"
        x-exportParamName: "EBook"
        x-optionalDataType: "Bool"
      - name: "anthology"
        in: "formData"
        description: "Whether it should be an anthology"
        required: false
        type: "boolean"
        x-exportParamName: "Anthology"
        x-optionalDataType: "Bool"
      - name: "novelization"
        in: "formData"
        description: "Whether it should be novelization"
        required: false
        type: "boolean"
        x-exportParamName: "Novelization"
        x-optionalDataType: "Bool"
      - name: "audiobook"
        in: "formData"
        description: "Whether it should be an audiobook"
        required: false
        type: "boolean"
        x-exportParamName: "Audiobook"
        x-optionalDataType: "Bool"
      - name: "audiobookAbridged"
        in: "formData"
        description: "Whether it should be an audiobook, abridged"
        required: false
        type: "boolean"
        x-exportParamName: "AudiobookAbridged"
        x-optionalDataType: "Bool"
      - name: "audiobookPublishedYearFrom"
        in: "formData"
        description: "Starting year the audiobook was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "AudiobookPublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "audiobookPublishedYearTo"
        in: "formData"
        description: "Ending year the audiobook was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "AudiobookPublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "audiobookRunTimeFrom"
        in: "formData"
        description: "Minimal audiobook run time, in minutes"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "AudiobookRunTimeFrom"
        x-optionalDataType: "Int32"
      - name: "audiobookRunTimeTo"
        in: "formData"
        description: "Maximal audiobook run time, in minutes"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "AudiobookRunTimeTo"
        x-optionalDataType: "Int32"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookBaseResponse"
  /bookCollection:
    get:
      tags:
      - "BookCollection"
      description: "Retrival of a single book collection"
      parameters:
      - name: "uid"
        in: "query"
        description: "Book collection unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookCollectionFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /bookCollection/search:
    get:
      tags:
      - "BookCollection"
      description: "Pagination over book collections"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookCollectionBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "BookCollection"
      description: "Searching book collections"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Book collection title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the book collection was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the book collection was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of book collection stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Ending stardate of book collections stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of book collection stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of book collections stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookCollectionBaseResponse"
  /bookSeries:
    get:
      tags:
      - "BookSeries"
      description: "Retrival of a single book series"
      parameters:
      - name: "uid"
        in: "query"
        description: "Book series unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookSeriesFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /bookSeries/search:
    get:
      tags:
      - "BookSeries"
      description: "Pagination over book series"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookSeriesBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "BookSeries"
      description: "Searching book series"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Book series title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the book series was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the book series was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfBooksFrom"
        in: "formData"
        description: "Minimal number of books"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfBooksFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfBooksTo"
        in: "formData"
        description: "Maximal number of books"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfBooksTo"
        x-optionalDataType: "Int32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of book series stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of book series stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "miniseries"
        in: "formData"
        description: "Whether it should be a miniseries"
        required: false
        type: "boolean"
        x-exportParamName: "Miniseries"
        x-optionalDataType: "Bool"
      - name: "eBookSeries"
        in: "formData"
        description: "Whether it should be an e-book series"
        required: false
        type: "boolean"
        x-exportParamName: "EBookSeries"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/BookSeriesBaseResponse"
  /character:
    get:
      tags:
      - "Character"
      description: "Retrival of a single character"
      parameters:
      - name: "uid"
        in: "query"
        description: "Character unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/CharacterFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /character/search:
    get:
      tags:
      - "Character"
      description: "Pagination over characters"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/CharacterBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Character"
      description: "Searching characters"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Character name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "gender"
        in: "formData"
        description: "Character gender"
        required: false
        type: "string"
        x-exportParamName: "Gender"
        x-optionalDataType: "String"
      - name: "deceased"
        in: "formData"
        description: "Whether it should be a deceased character"
        required: false
        type: "boolean"
        x-exportParamName: "Deceased"
        x-optionalDataType: "Bool"
      - name: "hologram"
        in: "formData"
        description: "Whether it should be a hologram"
        required: false
        type: "boolean"
        x-exportParamName: "Hologram"
        x-optionalDataType: "Bool"
      - name: "fictionalCharacter"
        in: "formData"
        description: "Whether it should be a fictional character (from universe point\
          \ of view)"
        required: false
        type: "boolean"
        x-exportParamName: "FictionalCharacter"
        x-optionalDataType: "Bool"
      - name: "mirror"
        in: "formData"
        description: "Whether it should be a mirror universe character"
        required: false
        type: "boolean"
        x-exportParamName: "Mirror"
        x-optionalDataType: "Bool"
      - name: "alternateReality"
        in: "formData"
        description: "Whether it should be a alternate reality character"
        required: false
        type: "boolean"
        x-exportParamName: "AlternateReality"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/CharacterBaseResponse"
  /comics:
    get:
      tags:
      - "Comics"
      description: "Retrival of a single comics"
      parameters:
      - name: "uid"
        in: "query"
        description: "Comics unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicsFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /comics/search:
    get:
      tags:
      - "Comics"
      description: "Pagination over comics"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicsBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Comics"
      description: "Searching comics"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Comics title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the comics was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the comics was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of comics story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Ending stardate of comics story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of comics story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of comics story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "photonovel"
        in: "formData"
        description: "Whether it should be a photonovel"
        required: false
        type: "boolean"
        x-exportParamName: "Photonovel"
        x-optionalDataType: "Bool"
      - name: "adaptation"
        in: "formData"
        description: "Whether it should be an adaptation of an episode or a movie"
        required: false
        type: "boolean"
        x-exportParamName: "Adaptation"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicsBaseResponse"
  /comicCollection:
    get:
      tags:
      - "ComicCollection"
      description: "Retrival of a single comic collection"
      parameters:
      - name: "uid"
        in: "query"
        description: "Comic collection unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicCollectionFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /comicCollection/search:
    get:
      tags:
      - "ComicCollection"
      description: "Pagination over comic collections"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicCollectionBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "ComicCollection"
      description: "Searching comic collections"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Comic collection title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the comic collection was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the comic collection was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of comic collection stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Ending stardate of comic collections stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of comic collection stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of comic collections stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "photonovel"
        in: "formData"
        description: "Whether it should be an photonovel collection"
        required: false
        type: "boolean"
        x-exportParamName: "Photonovel"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicCollectionBaseResponse"
  /comicSeries:
    get:
      tags:
      - "ComicSeries"
      description: "Retrival of a single comic series"
      parameters:
      - name: "uid"
        in: "query"
        description: "Comic series unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicSeriesFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /comicSeries/search:
    get:
      tags:
      - "ComicSeries"
      description: "Pagination over comic series"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicSeriesBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "ComicSeries"
      description: "Searching comic series"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Comic series title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the comic series was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the comic series was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfIssuesFrom"
        in: "formData"
        description: "Minimal number of issues"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfIssuesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfIssuesTo"
        in: "formData"
        description: "Maximal number of issues"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfIssuesTo"
        x-optionalDataType: "Int32"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of comic series stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Starting stardate of comic series stories"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of comic series stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of comic series stories"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "miniseries"
        in: "formData"
        description: "Whether it should be a miniseries"
        required: false
        type: "boolean"
        x-exportParamName: "Miniseries"
        x-optionalDataType: "Bool"
      - name: "photonovelSeries"
        in: "formData"
        description: "Whether it should be photonovel series"
        required: false
        type: "boolean"
        x-exportParamName: "PhotonovelSeries"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicSeriesBaseResponse"
  /comicStrip:
    get:
      tags:
      - "ComicStrip"
      description: "Retrival of a single comic strip"
      parameters:
      - name: "uid"
        in: "query"
        description: "Comic strip unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicStripFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /comicStrip/search:
    get:
      tags:
      - "ComicStrip"
      description: "Pagination over comic strips"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicStripBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "ComicStrip"
      description: "Searching comic strips"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Comic strip title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the comic strip was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the comic strip was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of comic strip story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of comic strip story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      responses:
        200:
          schema:
            $ref: "#/definitions/ComicStripBaseResponse"
  /company:
    get:
      tags:
      - "Company"
      description: "Retrival of a single company"
      parameters:
      - name: "uid"
        in: "query"
        description: "Company unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/CompanyFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /company/search:
    get:
      tags:
      - "Company"
      description: "Pagination over companies"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/CompanyBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Company"
      description: "Searching companies"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Company name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "broadcaster"
        in: "formData"
        description: "Whether it should be a broadcaster"
        required: false
        type: "boolean"
        x-exportParamName: "Broadcaster"
        x-optionalDataType: "Bool"
      - name: "collectibleCompany"
        in: "formData"
        description: "Whether it should be a collectible company"
        required: false
        type: "boolean"
        x-exportParamName: "CollectibleCompany"
        x-optionalDataType: "Bool"
      - name: "conglomerate"
        in: "formData"
        description: "Whether it should be a conglomerate"
        required: false
        type: "boolean"
        x-exportParamName: "Conglomerate"
        x-optionalDataType: "Bool"
      - name: "digitalVisualEffectsCompany"
        in: "formData"
        description: "Whether it should be a digital visual effects company"
        required: false
        type: "boolean"
        x-exportParamName: "DigitalVisualEffectsCompany"
        x-optionalDataType: "Bool"
      - name: "distributor"
        in: "formData"
        description: "Whether it should be a distributor"
        required: false
        type: "boolean"
        x-exportParamName: "Distributor"
        x-optionalDataType: "Bool"
      - name: "gameCompany"
        in: "formData"
        description: "Whether it should be a game company"
        required: false
        type: "boolean"
        x-exportParamName: "GameCompany"
        x-optionalDataType: "Bool"
      - name: "filmEquipmentCompany"
        in: "formData"
        description: "Whether it should be a film equipment company"
        required: false
        type: "boolean"
        x-exportParamName: "FilmEquipmentCompany"
        x-optionalDataType: "Bool"
      - name: "makeUpEffectsStudio"
        in: "formData"
        description: "Whether it should be a make-up effects studio"
        required: false
        type: "boolean"
        x-exportParamName: "MakeUpEffectsStudio"
        x-optionalDataType: "Bool"
      - name: "mattePaintingCompany"
        in: "formData"
        description: "Whether it should be a matte painting company"
        required: false
        type: "boolean"
        x-exportParamName: "MattePaintingCompany"
        x-optionalDataType: "Bool"
      - name: "modelAndMiniatureEffectsCompany"
        in: "formData"
        description: "Whether it should be a model and miniature effects company"
        required: false
        type: "boolean"
        x-exportParamName: "ModelAndMiniatureEffectsCompany"
        x-optionalDataType: "Bool"
      - name: "postProductionCompany"
        in: "formData"
        description: "Whether it should be a post-production company"
        required: false
        type: "boolean"
        x-exportParamName: "PostProductionCompany"
        x-optionalDataType: "Bool"
      - name: "productionCompany"
        in: "formData"
        description: "Whether it should be a production company"
        required: false
        type: "boolean"
        x-exportParamName: "ProductionCompany"
        x-optionalDataType: "Bool"
      - name: "propCompany"
        in: "formData"
        description: "Whether it should be a prop company"
        required: false
        type: "boolean"
        x-exportParamName: "PropCompany"
        x-optionalDataType: "Bool"
      - name: "recordLabel"
        in: "formData"
        description: "Whether it should be a record label"
        required: false
        type: "boolean"
        x-exportParamName: "RecordLabel"
        x-optionalDataType: "Bool"
      - name: "specialEffectsCompany"
        in: "formData"
        description: "Whether it should be a special effects company"
        required: false
        type: "boolean"
        x-exportParamName: "SpecialEffectsCompany"
        x-optionalDataType: "Bool"
      - name: "tvAndFilmProductionCompany"
        in: "formData"
        description: "Whether it should be a TV and film production company"
        required: false
        type: "boolean"
        x-exportParamName: "TvAndFilmProductionCompany"
        x-optionalDataType: "Bool"
      - name: "videoGameCompany"
        in: "formData"
        description: "Whether it should be a video game company"
        required: false
        type: "boolean"
        x-exportParamName: "VideoGameCompany"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/CompanyBaseResponse"
  /conflict:
    get:
      tags:
      - "Conflict"
      description: "Retrival of a single conflict"
      parameters:
      - name: "uid"
        in: "query"
        description: "Conflict unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ConflictFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /conflict/search:
    get:
      tags:
      - "Conflict"
      description: "Pagination over conflicts"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ConflictBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Conflict"
      description: "Searching conflicts"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Conflict name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of the conflict"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of the conflict"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "earthConflict"
        in: "formData"
        description: "Whether it should be an Earth conflict"
        required: false
        type: "boolean"
        x-exportParamName: "EarthConflict"
        x-optionalDataType: "Bool"
      - name: "federationWar"
        in: "formData"
        description: "Whether this conflict should be a part of war involving Federation"
        required: false
        type: "boolean"
        x-exportParamName: "FederationWar"
        x-optionalDataType: "Bool"
      - name: "klingonWar"
        in: "formData"
        description: "Whether this conflict should be a part of war involving the\
          \ Klingons"
        required: false
        type: "boolean"
        x-exportParamName: "KlingonWar"
        x-optionalDataType: "Bool"
      - name: "dominionWarBattle"
        in: "formData"
        description: "Whether this conflict should be a Dominion war battle"
        required: false
        type: "boolean"
        x-exportParamName: "DominionWarBattle"
        x-optionalDataType: "Bool"
      - name: "alternateReality"
        in: "formData"
        description: "Whether this conflict should be from alternate reality"
        required: false
        type: "boolean"
        x-exportParamName: "AlternateReality"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/ConflictBaseResponse"
  /element:
    get:
      tags:
      - "Element"
      description: "Retrival of a single element"
      parameters:
      - name: "uid"
        in: "query"
        description: "Element unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ElementFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /element/search:
    get:
      tags:
      - "Element"
      description: "Pagination over elements"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/ElementBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Element"
      description: "Searching elements"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Element name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Element symbol"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "transuranium"
        in: "formData"
        description: "Whether it should be a transuranium"
        required: false
        type: "boolean"
        x-exportParamName: "Transuranium"
        x-optionalDataType: "Bool"
      - name: "gammaSeries"
        in: "formData"
        description: "Whether it should belong to Gamma series"
        required: false
        type: "boolean"
        x-exportParamName: "GammaSeries"
        x-optionalDataType: "Bool"
      - name: "hypersonicSeries"
        in: "formData"
        description: "Whether it should belong to Hypersonic series"
        required: false
        type: "boolean"
        x-exportParamName: "HypersonicSeries"
        x-optionalDataType: "Bool"
      - name: "megaSeries"
        in: "formData"
        description: "Whether it should belong to Mega series"
        required: false
        type: "boolean"
        x-exportParamName: "MegaSeries"
        x-optionalDataType: "Bool"
      - name: "omegaSeries"
        in: "formData"
        description: "Whether it should belong to Omega series"
        required: false
        type: "boolean"
        x-exportParamName: "OmegaSeries"
        x-optionalDataType: "Bool"
      - name: "transonicSeries"
        in: "formData"
        description: "Whether it should belong to Transonic series"
        required: false
        type: "boolean"
        x-exportParamName: "TransonicSeries"
        x-optionalDataType: "Bool"
      - name: "worldSeries"
        in: "formData"
        description: "Whether it should belong to World series"
        required: false
        type: "boolean"
        x-exportParamName: "WorldSeries"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/ElementBaseResponse"
  /episode:
    get:
      tags:
      - "Episode"
      description: "Retrival of a single episode"
      parameters:
      - name: "uid"
        in: "query"
        description: "Episode unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/EpisodeFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /episode/search:
    get:
      tags:
      - "Episode"
      description: "Pagination over episodes"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/EpisodeBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Episode"
      description: "Searching episodes"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Episode title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "seasonNumberFrom"
        in: "formData"
        description: "Minimal season number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SeasonNumberFrom"
        x-optionalDataType: "Int32"
      - name: "seasonNumberTo"
        in: "formData"
        description: "Maximal season number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SeasonNumberTo"
        x-optionalDataType: "Int32"
      - name: "episodeNumberFrom"
        in: "formData"
        description: "Minimal episode number in season"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "EpisodeNumberFrom"
        x-optionalDataType: "Int32"
      - name: "episodeNumberTo"
        in: "formData"
        description: "Maximal episode number in season"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "EpisodeNumberTo"
        x-optionalDataType: "Int32"
      - name: "productionSerialNumber"
        in: "formData"
        description: "Production serial number"
        required: false
        type: "string"
        x-exportParamName: "ProductionSerialNumber"
        x-optionalDataType: "String"
      - name: "featureLength"
        in: "formData"
        description: "Whether it should be a feature length episode"
        required: false
        type: "boolean"
        x-exportParamName: "FeatureLength"
        x-optionalDataType: "Bool"
      - name: "stardateFrom"
        in: "formData"
        description: "Starting stardate of episode story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateFrom"
        x-optionalDataType: "Float32"
      - name: "stardateTo"
        in: "formData"
        description: "Ending stardate of episode story"
        required: false
        type: "number"
        format: "float"
        x-exportParamName: "StardateTo"
        x-optionalDataType: "Float32"
      - name: "yearFrom"
        in: "formData"
        description: "Starting year of episode story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearFrom"
        x-optionalDataType: "Int32"
      - name: "yearTo"
        in: "formData"
        description: "Ending year of episode story"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "YearTo"
        x-optionalDataType: "Int32"
      - name: "usAirDateFrom"
        in: "formData"
        description: "Minimal date the episode was first aired in the United States"
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "UsAirDateFrom"
        x-optionalDataType: "String"
      - name: "usAirDateTo"
        in: "formData"
        description: "Maximal date the episode was first aired in the United States"
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "UsAirDateTo"
        x-optionalDataType: "String"
      - name: "finalScriptDateFrom"
        in: "formData"
        description: "Minimal date the episode script was completed"
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "FinalScriptDateFrom"
        x-optionalDataType: "String"
      - name: "finalScriptDateTo"
        in: "formData"
        description: "Maximal date the episode script was completed"
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "FinalScriptDateTo"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/EpisodeBaseResponse"
  /food:
    get:
      tags:
      - "Food"
      description: "Retrival of a single food"
      parameters:
      - name: "uid"
        in: "query"
        description: "Food unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/FoodFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /food/search:
    get:
      tags:
      - "Food"
      description: "Pagination over foods"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/FoodBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Food"
      description: "Searching foods"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Food name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "earthlyOrigin"
        in: "formData"
        description: "Whether it should be of earthly origin"
        required: false
        type: "boolean"
        x-exportParamName: "EarthlyOrigin"
        x-optionalDataType: "Bool"
      - name: "dessert"
        in: "formData"
        description: "Whether it should be a dessert"
        required: false
        type: "boolean"
        x-exportParamName: "Dessert"
        x-optionalDataType: "Bool"
      - name: "fruit"
        in: "formData"
        description: "Whether it should be a fruit"
        required: false
        type: "boolean"
        x-exportParamName: "Fruit"
        x-optionalDataType: "Bool"
      - name: "herbOrSpice"
        in: "formData"
        description: "Whether it should be an herb or a spice"
        required: false
        type: "boolean"
        x-exportParamName: "HerbOrSpice"
        x-optionalDataType: "Bool"
      - name: "sauce"
        in: "formData"
        description: "Whether it should be a sauce"
        required: false
        type: "boolean"
        x-exportParamName: "Sauce"
        x-optionalDataType: "Bool"
      - name: "soup"
        in: "formData"
        description: "Whether it should be a soup"
        required: false
        type: "boolean"
        x-exportParamName: "Soup"
        x-optionalDataType: "Bool"
      - name: "beverage"
        in: "formData"
        description: "Whether it should be a beverage"
        required: false
        type: "boolean"
        x-exportParamName: "Beverage"
        x-optionalDataType: "Bool"
      - name: "alcoholicBeverage"
        in: "formData"
        description: "Whether it should be an alcoholic beverage"
        required: false
        type: "boolean"
        x-exportParamName: "AlcoholicBeverage"
        x-optionalDataType: "Bool"
      - name: "juice"
        in: "formData"
        description: "Whether it should be a juice"
        required: false
        type: "boolean"
        x-exportParamName: "Juice"
        x-optionalDataType: "Bool"
      - name: "tea"
        in: "formData"
        description: "Whether it should be a tea"
        required: false
        type: "boolean"
        x-exportParamName: "Tea"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/FoodBaseResponse"
  /literature:
    get:
      tags:
      - "Literature"
      description: "Retrival of a single literature"
      parameters:
      - name: "uid"
        in: "query"
        description: "Literature unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/LiteratureFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /literature/search:
    get:
      tags:
      - "Literature"
      description: "Pagination over literature"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/LiteratureBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Literature"
      description: "Searching literature"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Literature title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "earthlyOrigin"
        in: "formData"
        description: "Whether it should be of earthly origin"
        required: false
        type: "boolean"
        x-exportParamName: "EarthlyOrigin"
        x-optionalDataType: "Bool"
      - name: "shakespeareanWork"
        in: "formData"
        description: "Whether it should be a Shakespearean work"
        required: false
        type: "boolean"
        x-exportParamName: "ShakespeareanWork"
        x-optionalDataType: "Bool"
      - name: "report"
        in: "formData"
        description: "Whether it should be a report"
        required: false
        type: "boolean"
        x-exportParamName: "Report"
        x-optionalDataType: "Bool"
      - name: "scientificLiterature"
        in: "formData"
        description: "Whether it should be a scientific literature"
        required: false
        type: "boolean"
        x-exportParamName: "ScientificLiterature"
        x-optionalDataType: "Bool"
      - name: "technicalManual"
        in: "formData"
        description: "Whether it should be a technical manual"
        required: false
        type: "boolean"
        x-exportParamName: "TechnicalManual"
        x-optionalDataType: "Bool"
      - name: "religiousLiterature"
        in: "formData"
        description: "Whether it should be a religious literature"
        required: false
        type: "boolean"
        x-exportParamName: "ReligiousLiterature"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/LiteratureBaseResponse"
  /location:
    get:
      tags:
      - "Location"
      description: "Retrival of a single location"
      parameters:
      - name: "uid"
        in: "query"
        description: "Location unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/LocationFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /location/search:
    get:
      tags:
      - "Location"
      description: "Pagination over locations"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/LocationBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Location"
      description: "Searching locations"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "name"
        in: "formData"
        description: "Location name"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "earthlyLocation"
        in: "formData"
        description: "Whether it should be an earthly location"
        required: false
        type: "boolean"
        x-exportParamName: "EarthlyLocation"
        x-optionalDataType: "Bool"
      - name: "fictionalLocation"
        in: "formData"
        description: "Whether it should be a fictional location"
        required: false
        type: "boolean"
        x-exportParamName: "FictionalLocation"
        x-optionalDataType: "Bool"
      - name: "religiousLocation"
        in: "formData"
        description: "Whether it should be a religious location"
        required: false
        type: "boolean"
        x-exportParamName: "ReligiousLocation"
        x-optionalDataType: "Bool"
      - name: "geographicalLocation"
        in: "formData"
        description: "Whether it should be a geographical location"
        required: false
        type: "boolean"
        x-exportParamName: "GeographicalLocation"
        x-optionalDataType: "Bool"
      - name: "bodyOfWater"
        in: "formData"
        description: "Whether it should be a body of water"
        required: false
        type: "boolean"
        x-exportParamName: "BodyOfWater"
        x-optionalDataType: "Bool"
      - name: "country"
        in: "formData"
        description: "Whether it should be a country"
        required: false
        type: "boolean"
        x-exportParamName: "Country"
        x-optionalDataType: "Bool"
      - name: "subnationalEntity"
        in: "formData"
        description: "Whether it should be a subnational entity"
        required: false
        type: "boolean"
        x-exportParamName: "SubnationalEntity"
        x-optionalDataType: "Bool"
      - name: "settlement"
        in: "formData"
        description: "Whether it should be a settlement"
        required: false
        type: "boolean"
        x-exportParamName: "Settlement"
        x-optionalDataType: "Bool"
      - name: "usSettlement"
        in: "formData"
        description: "Whether it should be a US settlement"
        required: false
        type: "boolean"
        x-exportParamName: "UsSettlement"
        x-optionalDataType: "Bool"
      - name: "bajoranSettlement"
        in: "formData"
        description: "Whether it should be a Bajoran settlement"
        required: false
        type: "boolean"
        x-exportParamName: "BajoranSettlement"
        x-optionalDataType: "Bool"
      - name: "colony"
        in: "formData"
        description: "Whether it should be a colony"
        required: false
        type: "boolean"
        x-exportParamName: "Colony"
        x-optionalDataType: "Bool"
      - name: "landform"
        in: "formData"
        description: "Whether it should be a landform"
        required: false
        type: "boolean"
        x-exportParamName: "Landform"
        x-optionalDataType: "Bool"
      - name: "landmark"
        in: "formData"
        description: "Whether it should be a landmark"
        required: false
        type: "boolean"
        x-exportParamName: "Landmark"
        x-optionalDataType: "Bool"
      - name: "road"
        in: "formData"
        description: "Whether it should be a road"
        required: false
        type: "boolean"
        x-exportParamName: "Road"
        x-optionalDataType: "Bool"
      - name: "structure"
        in: "formData"
        description: "Whether it should be a structure"
        required: false
        type: "boolean"
        x-exportParamName: "Structure"
        x-optionalDataType: "Bool"
      - name: "shipyard"
        in: "formData"
        description: "Whether it should be a shipyard"
        required: false
        type: "boolean"
        x-exportParamName: "Shipyard"
        x-optionalDataType: "Bool"
      - name: "buildingInterior"
        in: "formData"
        description: "Whether it should be a building interior"
        required: false
        type: "boolean"
        x-exportParamName: "BuildingInterior"
        x-optionalDataType: "Bool"
      - name: "establishment"
        in: "formData"
        description: "Whether it should be a establishment"
        required: false
        type: "boolean"
        x-exportParamName: "Establishment"
        x-optionalDataType: "Bool"
      - name: "medicalEstablishment"
        in: "formData"
        description: "Whether it should be a medical establishment"
        required: false
        type: "boolean"
        x-exportParamName: "MedicalEstablishment"
        x-optionalDataType: "Bool"
      - name: "ds9Establishment"
        in: "formData"
        description: "Whether it should be a DS9 establishment"
        required: false
        type: "boolean"
        x-exportParamName: "Ds9Establishment"
        x-optionalDataType: "Bool"
      - name: "school"
        in: "formData"
        description: "Whether it should be a school"
        required: false
        type: "boolean"
        x-exportParamName: "School"
        x-optionalDataType: "Bool"
      - name: "mirror"
        in: "formData"
        description: "Whether this location should be from mirror universe"
        required: false
        type: "boolean"
        x-exportParamName: "Mirror"
        x-optionalDataType: "Bool"
      - name: "alternateReality"
        in: "formData"
        description: "Whether this location should be from alternate reality"
        required: false
        type: "boolean"
        x-exportParamName: "AlternateReality"
        x-optionalDataType: "Bool"
      responses:
        200:
          schema:
            $ref: "#/definitions/LocationBaseResponse"
  /magazine:
    get:
      tags:
      - "Magazine"
      description: "Retrival of a single magazine"
      parameters:
      - name: "uid"
        in: "query"
        description: "Magazine unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/MagazineFullResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
  /magazine/search:
    get:
      tags:
      - "Magazine"
      description: "Pagination over magazines"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/MagazineBaseResponse"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
    post:
      tags:
      - "Magazine"
      description: "Searching magazines"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "pageNumber"
        in: "query"
        description: "Zero-based page number"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        description: "Page size"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "sort"
        in: "query"
        description: "Sorting, serialized like this: fieldName,ASC;anotherFieldName,DESC"
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      - name: "title"
        in: "formData"
        description: "Magazine title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "publishedYearFrom"
        in: "formData"
        description: "Starting year the magazine was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearFrom"
        x-optionalDataType: "Int32"
      - name: "publishedYearTo"
        in: "formData"
        description: "Ending year the magazine was published"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PublishedYearTo"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesFrom"
        in: "formData"
        description: "Minimal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesFrom"
        x-optionalDataType: "Int32"
      - name: "numberOfPagesTo"
        in: "formData"
        description: "Maximal number of pages"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "NumberOfPagesTo"
        x-optionalDataType: "Int32"
      responses:
        200:
          schema:
            $ref: "#/definitions/MagazineBaseResponse"
  /magazineSeries:
    get:
      tags:
      - "MagazineSeries"
      description: "Retrival of a single magazine series"
      parameters:
      - name: "uid"
        in: "query"
        description: "Magazine series unique ID"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      - name: "apiKey"
        in: "query"
        description: "API key"
        required: false
        type: "string"
        x-exportParamName: "ApiKey"
        x-optionalDataType: "String"
      responses:
        200:
          schema:
            $ref: "#/definitions/MagazineSeriesFullResponse"
        default:
          description: "Unexpected error"
[...]
